html {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $main-font !important;
    font-size: 100%;

    ul {
        margin-left: 0;
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }

    a {
        text-decoration: none;
        outline: none;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        &:hover,
        &:focus {
            text-decoration: none;
            color: $primary-color;
        }
    }

    img,
    button,
    input,
    textarea,
    select {
        outline: none;

        &:focus,
        &:active,
        &:hover {
            outline: none;
        }
    }
}

html, body {
    // background: #F9F9F9;
    max-width: 100vw;
    overflow: hidden;
    overflow-y: auto;
    // scrollbar-width: thin;
    // scrollbar-color: $secondary-color rgba($secondary-color-light, 0.4);

    // &::-webkit-scrollbar {
    //     width: 10px;
    // }

    // &::-webkit-scrollbar-track {
    //     background: rgba($secondary-color-light, 0.4);
    // }

    // &::-webkit-scrollbar-thumb {
    //     background-color: $secondary-color;
    //     border-radius: 4px;
    //     border: 2px solid $secondary-color-light;
    // }
    &.rtl-style{
        direction: rtl;
    }   

}

.font-regular {
    font-weight: $font-regular;
}

.font-medium {
    font-weight: $font-medium;
}


.font-bold {
    font-weight: $font-bold;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bg-primary {
    background-color: $primary-color !important;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.bg-light {
    background-color: #F3F4F9;
}

.bg-primary-light {
    background-color: $primary-color-light;
}

.bg-secondary-light {
    background-color: $secondary-color-light;
}

.text-primary {
    color: $primary-color !important;
}

.text-secondary {
    color: $secondary-color !important;
}

.text-color {
    color: $text-color !important;
}

.text-color-dark{
    color: $text-color-dark;
}

.box-shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.box-mr {
    margin-right: 30px;
}

.box-ml {
    margin-left: 30px;
}

.box-mt {
    margin-top: 30px;
}

.box-mb {
    margin-bottom: 30px;
}

.box-radius {
    @include border-radius(10px);
}

.border-primary{
    border-color: $primary-color !important;
}

.blue-snackbar {
    background: $secondary-color-hover;
    *{
        color: #fff;
    }
  }
  
.red-snackbar {
    background: $primary-color;
    *{
        color: #fff;
    }
  }

.default-snackbar {
    background: $btn-light-default-text-color;
    *{
        color: #fff;
    }
  }
  .invalid-checkbox{
    border-color: $btn-danger-normal;
  }
  .text-capitalize{
    text-transform: capitalize;
  }
  .green-snackbar{
    background: $btn-success-normal; 
    *{
        color: #fff;
    }
  }
  .orange-snackbar{
    background: $btn-warning-normal; 
    *{
        color: #fff;
    }
  }
  .full-width-form{
    width: 100%;
    display: block;
  }
  .invalid-text{
    color: $btn-danger-normal;
  }
.clearfix {

    &:after,
    &:before {
        content: '';
        display: table;
        clear: both;
    }
}

.img-fluid{
    display: block;
}

a{
    cursor: pointer;
    &.with-icon{
        display: inline-flex;
        i, .mat-icon{
            margin-left: 15px;
        }
    }
    &:hover{
        color: $secondary-color;
    }
    &.text-primary{
        &:hover{
            color: $primary-color-hover !important;
        }
    }
    &.text-secondary{
        &:hover{
            color: $secondary-color-hover !important;
        }
    }
}

@media (min-width: 576px) {

    .container,
    .container-sm,
    .swiper-slide-label {
        max-width: 750px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm,
    .swiper-slide-label {
        max-width: 900px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .swiper-slide-label {
        max-width: 1290px;
    }
}


.row {
    &.gutter-1 {
        margin-left: -1px;
        margin-right: -1px;

        [class*="col-"] {
            padding-left: 1px;
            padding-right: 1px;
        }
    }

    &.gutter-2 {
        margin-left: -2px;
        margin-right: -2px;

        [class*="col-"] {
            padding-left: 2px;
            padding-right: 2px;
        }
    }

    &.gutter-3 {
        margin-left: -3px;
        margin-right: -3px;

        [class*="col-"] {
            padding-left: 3px;
            padding-right: 3px;
        }
    }

    &.gutter-4 {
        margin-left: -4px;
        margin-right: -4px;

        [class*="col-"] {
            padding-left: 4px;
            padding-right: 4px;
        }
    }

    &.gutter-5 {
        margin-left: -5px;
        margin-right: -5px;

        [class*="col-"] {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    &.gutter-6 {
        margin-left: -6px;
        margin-right: -6px;

        [class*="col-"] {
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    &.gutter-7 {
        margin-left: -7px;
        margin-right: -7px;

        [class*="col-"] {
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    &.gutter-8 {
        margin-left: -8px;
        margin-right: -8px;

        [class*="col-"] {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    &.gutter-9 {
        margin-left: -9px;
        margin-right: -9px;

        [class*="col-"] {
            padding-left: 9px;
            padding-right: 9px;
        }
    }

    &.gutter-10 {
        margin-left: -10px;
        margin-right: -10px;

        [class*="col-"] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.table-responsive {
    .table {
        min-width: 600px;
    }
}

.img-fluid {
    width: 100%;
    object-fit: contain;
}
hr{
    border-color: #EDEDED;
}

.breadcrumb{
    background-color: transparent;
    padding: 0;
    .breadcrumb-item{
        font-size: 13px;
        line-height: 16px;
        color: $text-color;
        font-weight: $font-medium;
        a{
            font-size: inherit;
            color: inherit;
            line-height: inherit;
            font-weight: inherit;
        }
        &.active, &:hover{
            color: rgba($primary-color, 0.8);
        }
            &+.breadcrumb-item::before{
                color: #d6d6d6;
            }
    }
}